autopep8
Click
cryptography
cycler
Django
django-cors-headers
djangorestframework
html5
httplib2
kiwisolver
lxml
numpy
oauthlib
pandas
Pillow
psutil
pycairo
PyJWT
PyNaCl
pyparsing
pyRFC3339
python-dateutil
pytz
requests
scikit-learn
scipy
simplejson
six
urllib3
websockets
