:root {
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 480px;
}
.mbs {
  display: flex;
  flex-direction: column;
}
.tittle {
  color: rgb(212, 17, 180);
  margin: auto;
  font-size: 5vw;
}

.announce {
  color: rgb(202, 219, 50);
  text-align: center;
}

.mains {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.mid2 .announce {
  color: rgb(28, 228, 235);
}

.mid1 {
  margin-top: 8vh;
  background-color: rgb(17, 16, 16);
  width: 38vw;
  border-radius: 8vw;
}

.mid2 {
  margin-top: 8vh;
  background-color: rgb(17, 16, 16);
  width: 35vw;
  border-radius: 8vw;
}

.buttons {
  position: absolute;
  right: 5vw;
  margin-top: calc();
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.card1 {
  display: flex;
  color: white;
  margin-top: 1vh;
  justify-content: space-evenly;
  padding: 2vw;
}

.score {
  color: rgb(55, 156, 160);
  font-size: 3vw;
}

.show_table {
  font-size: clamp(10px, 3vw, 20px);
}

.show_slip {
  background-color: rgb(60, 60, 133);
  color: white;
  font-size: clamp(10px, 3vw, 20px);
}

.slip {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-around;
  border-radius: 3vw;
}

.sitems {
  display: flex;
  justify-content: space-between;
  margin: 0.5vw;
  color: rgb(14, 95, 11);
}
.sodd {
  color: black;
}
.cbutton {
  background-color: rgb(122, 20, 20);
  border: none;
  color: rgb(199, 178, 178);
}

.placeform {
  display: flex;
  justify-content: space-evenly;
}

.summary {
  display: flex;
  justify-content: space-evenly;
}
.amount {
  width: 8vw;
}

.bet {
  background-color: green;
  color: yello;
}
